{
  "env": {
    "client": {
      "presets": [
        ["env", { "modules": false, "targets": { "browsers": ["last 2 versions", "> 5%"] }, "useBuiltIns": true }],
        "react"
      ],
      "plugins": ["transform-object-rest-spread"]
    },
    "server": {
      "presets": [
        ["env", { "targets": { "node": 7 } }]
      ]
    },
    "test": {
      "presets": [
        ["env", { "targets": { "node": "current" } }],
        "react"
      ],
      "plugins": ["transform-object-rest-spread"]
    }
  }
}
