{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-1"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "react-hot-loader/babel"
  ],
  "env": {
    "test": {
      "presets": [
        "es2015"
      ]
    }
  }
}
