{
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "plugins": [
    "compat"
  ],
  "settings": {
    "polyfills": [
      "fetch"
    ]
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": 0,
    "comma-dangle": 0,
    "semi": 0,
    "generator-star-spacing": 0,
    "func-names": ["error", "as-needed"],
    "no-warning-comments": [2, { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "compat/compat": 2,
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "no-confusing-arrow": 0,
    "no-param-reassign": 0,
    "no-shadow": 0,
    "react/forbid-prop-types": 0
  }
}
