{
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": ["error", "as-needed"],
    "comma-dangle": ["error", "never"],
    "func-names": ["error", "as-needed"],
    "global-require": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "no-warning-comments": ["error", { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "react/forbid-prop-types": 0,
    "semi": ["error", "never"]
  }
}
