{
  "extends": [
    "airbnb"
  ],
  "rules": {
    "arrow-parens": 0,
    "no-confusing-arrow": 0,
    "comma-dangle": 0,
    "func-names": ["error", "as-needed"],
    "import/no-extraneous-dependencies": 0,
    "import/order": ["error"],
    "import/prefer-default-export": 0,
    "no-warning-comments": [2, { "terms": ["todo", "fixme"], "location": "anywhere" }],
    "react/forbid-prop-types": 0,
    "semi": 0,
    "generator-star-spacing": 0,
    "spaced-comment": ["error", "always"],
    "capitalized-comments": ["error", "always"],
    "lines-around-comment": ["error", {
      "beforeBlockComment": true,
      "afterBlockComment": true,
      "beforeLineComment": true,
      "afterLineComment": false,
      "allowBlockStart": true
    }]
  }
}
