{
  "env": {
    "browser": true,
    "jest": true
  },
  "plugins": [
    "compat"
  ],
  "settings": {
    "polyfills": [
      "fetch"
    ]
  },
  "extends": [
    "../../.eslintrc"
  ],
  "rules": {
    "compat/compat": 2
  }
}
